* {
    color: black;
}

body {
    background: linear-gradient(0deg, #8aff8a 0%, #fafffa 100%)
}


.level1 {
    background-color: white;
    border: 3px solid black;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 10px 0px;
}

img {
    border: 3px solid green;
}